body {
  position: relative;
  background: #000;
}
#bootMask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
#bootMask .boot-up {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: aqua;
  transition: 1s;
}
#bootMask .boot-down {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: aqua;
  transition: 1s;
}
#bootMask .boot-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 0%;
  height: 4px;
  background-color: #fff;
  transition: 1s;
}
#header {
  height: 80px;
  position: relative;
  background: #fff;
}
#header .container {
  width: 1100px;
  height: 80px;
  margin: 0 auto;
  background: #fff;
}
#header .container .logo {
  margin-top: 15px;
}
#header .container .logo img {
  display: block;
}
#header .container .audio {
  margin: 50px 0 0 5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: url(../image/musicoff.gif);
}
#header .container .audio.active {
  background: url(../image/musicon.gif);
}
#header .container .nav {
  margin-top: 50px;
}
#header .container .nav li {
  margin-left: 40px;
  float: left;
}
#header .container .nav .nav-item {
  position: relative;
}
#header .container .nav .nav-item .nav-item-default {
  color: #644ccf;
}
#header .container .nav .nav-item .nav-item-active {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  color: #000;
  transition: 0.7s;
  white-space: nowrap;
  /*强制不换行*/
  overflow: hidden;
}
#header .container .nav .nav-item a:hover .nav-item-active {
  width: 100%;
}
#header .container .nav .nav-item.active .nav-item-active {
  width: 100%;
}
#header .arrow {
  position: absolute;
  z-index: 99;
  left: 50%;
  bottom: -11px;
  width: 21px;
  height: 11px;
  transition: 0.7s;
  background: url(../image/arrow.png) no-repeat;
}
#nav-menu {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 99;
}
#nav-menu .menu-item {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-top: 15px;
  cursor: pointer;
}
#nav-menu .menu-item.active {
  background-color: #fff;
}
#main {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#main .containt-list {
  position: absolute;
  width: 100%;
  top: 0;
}
#main .containt-list.transition {
  transition: 0.7s;
}
#main .containt-item {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#main .containt-item:nth-child(1) {
  background: url(../image/bg1.jpg) no-repeat;
  background-size: cover;
}
#main .containt-item:nth-child(2) {
  background: url(../image/bg2.jpg) no-repeat;
  background-size: cover;
}
#main .containt-item:nth-child(3) {
  background: url(../image/bg3.jpg) no-repeat;
  background-size: cover;
}
#main .containt-item:nth-child(4) {
  background: url(../image/bg4.jpg) no-repeat;
  background-size: cover;
}
#main .containt-item:nth-child(5) {
  background: url(../image/bg5.jpg) no-repeat;
  background-size: cover;
}
#main .containt-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 520px;
}
#main .team .title {
  margin: 50px 50px 0px 50px;
  width: 400px;
  transition: 1s;
}
#main .team .text {
  margin: 50px 50px 0px 50px;
  width: 400px;
  transition: 1s;
}
#main .team .list {
  margin: 0 auto;
  width: 944px;
  height: 448px;
  margin-top: 230px;
}
#main .team .list .item {
  float: left;
  width: 236px;
  height: 448px;
  opacity: 0.5;
  transition: 2s;
}
#main .team .list .item:hover {
  opacity: 0.8;
}
#main .team .list .item:nth-child(1) {
  background: url(../image/team.png) no-repeat;
  background-position: 3px 0px;
}
#main .team .list .item:nth-child(2) {
  background: url(../image/team.png) no-repeat;
  background-position: -230px 0px;
}
#main .team .list .item:nth-child(3) {
  background: url(../image/team.png) no-repeat;
  background-position: -483px 0px;
}
#main .team .list .item:nth-child(4) {
  background: url(../image/team.png) no-repeat;
  background-position: -710px 0px;
}
#main .about .title {
  font-size: 80px;
  font-weight: bold;
  padding: 50px 0 100px 50px;
  letter-spacing: -5px;
}
#main .about .title span {
  color: #009ee0;
  display: block;
  line-height: 0.8em;
}
#main .about .text {
  width: 400px;
  padding-left: 50px;
}
#main .about .about-img {
  position: absolute;
  top: 0;
  left: 0;
}
#main .about .about-img .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 200px;
}
#main .about .about-img .mask li {
  position: relative;
  width: 130px;
  height: 100px;
  overflow: hidden;
  float: left;
}
#main .about .about-img .mask li img {
  position: absolute;
  transition: 0.7s;
}
#main .about .about-img .mask li:nth-child(1) img {
  top: 0;
  left: 0;
}
#main .about .about-img .mask li:nth-child(2) img {
  right: 0;
}
#main .about .about-img .mask li:nth-child(3) img {
  left: 0;
  bottom: 0;
}
#main .about .about-img .mask li:nth-child(4) img {
  right: 0;
  bottom: 0;
}
#main .about .about-img .item {
  width: 260px;
  height: 200px;
}
#main .about .about-img .img-item {
  position: absolute;
  z-index: 9;
  width: 260px;
  height: 200px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  transition: 1s;
}
#main .about .about-img .img-item:hover li:nth-child(1) img {
  top: 100px;
}
#main .about .about-img .img-item:hover li:nth-child(2) img {
  right: 130px;
}
#main .about .about-img .img-item:hover li:nth-child(3) img {
  left: 130px;
}
#main .about .about-img .img-item:hover li:nth-child(4) img {
  bottom: 100px;
}
#main .about .about-img .img-item:nth-of-type(1) {
  top: 50px;
  left: 750px;
}
#main .about .about-img .img-item:nth-of-type(2) {
  top: 290px;
  left: 600px;
}
#main .about .line {
  position: absolute;
  left: 50%;
  width: 357px;
  height: 998px;
  background: url(../image/greenLine.png) no-repeat;
  z-index: -1;
}
#main .works .work1 {
  margin: 50px 0 100px 50px;
}
#main .works .work2 .work-list {
  margin-left: 50px;
}
#main .works .work2 .work-item {
  position: relative;
  float: left;
  width: 220px;
  height: 133px;
  margin: 0 1px;
  overflow: hidden;
}
#main .works .work2 .work-item img {
  transition: 1s all;
  width: 220px;
  height: 133px;
}
#main .works .work2 .work-item:hover .mask {
  opacity: 1;
}
#main .works .work2 .work-item:hover .mask .zoom-icon {
  background-position: 0 -34px;
}
#main .works .work2 .work-item:hover img {
  transform: scale(1.5) rotate(15deg);
}
#main .works .work2 .work-item:nth-child(4) {
  width: 332px;
}
#main .works .work2 .work-item:nth-child(4) img {
  width: 332px;
}
#main .works .work2 .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.8);
  transition: 1s all;
  opacity: 0;
}
#main .works .work2 .mask .text {
  margin: 10px;
  color: #fff;
}
#main .works .work2 .mask .zoom-icon {
  width: 32px;
  height: 34px;
  margin: 10px auto;
  transition: 1s all;
  background: url(../image/zoomico.png) no-repeat;
}
#main .works .work3 .robot {
  position: absolute;
  top: 170px;
  left: 900px;
  width: 167px;
  height: 191px;
  background: url(../image/robot.png);
  animation: move 5s linear infinite;
}
@keyframes move {
  49% {
    transform: rotateY(0deg);
  }
  50% {
    left: 40%;
    transform: rotateY(180deg);
  }
  100% {
    left: 900px;
    transform: rotateY(180deg);
  }
}
#main .works .pencel1 {
  position: absolute;
  left: 500px;
  top: 0;
  width: 180px;
  height: 97px;
  background: url(../image/pencel1.png) no-repeat;
  transition: 1s;
  z-index: -1;
}
#main .works .pencel2 {
  position: absolute;
  left: 300px;
  top: 250px;
  width: 268px;
  height: 38px;
  background: url(../image/pencel2.png) no-repeat;
  transition: 1s;
  z-index: -1;
}
#main .works .pencel3 {
  position: absolute;
  left: 650px;
  top: 300px;
  width: 441px;
  height: 231px;
  background: url(../image/pencel3.png) no-repeat;
  transition: 1s;
  z-index: -1;
}
#main .objects .obj1 {
  margin: 50px;
}
#main .objects .obj2 {
  width: 400px;
  margin-left: 50px;
}
#main .objects .obj3 .obj-list,
#main .objects .obj3 .plus-bg {
  position: absolute;
  right: 50px;
  top: 70px;
  width: 480px;
}
#main .objects .obj3 .plus {
  position: absolute;
  top: -5px;
  width: 9px;
  height: 410px;
  background: url(../image/plus_row.png) no-repeat;
}
#main .objects .obj3 .plus:nth-child(1) {
  left: -6px;
}
#main .objects .obj3 .plus:nth-child(2) {
  left: 114px;
}
#main .objects .obj3 .plus:nth-child(3) {
  left: 234px;
}
#main .objects .obj3 .plus:nth-child(4) {
  left: 354px;
}
#main .objects .obj3 .plus:nth-child(5) {
  left: 474px;
}
#main .objects .obj3 .obj-item,
#main .objects .obj3 .obj-inner,
#main .objects .obj3 .front,
#main .objects .obj3 .back {
  width: 120px;
  height: 132px;
}
#main .objects .obj3 .obj-item {
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  float: left;
  cursor: default;
}
#main .objects .obj3 .obj-inner {
  transition: 1s;
  transform-style: preserve-3d;
}
#main .objects .obj3 .obj-item:hover .obj-inner {
  transform: rotateY(180deg);
}
#main .objects .obj3 .front {
  position: absolute;
  top: 0;
  left: 0;
}
#main .objects .obj3 .front img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}
#main .objects .obj3 .back {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 132px;
  text-align: center;
  font-size: 20px;
  background-color: #009ee0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}
#main .objects .plane1 {
  position: absolute;
  left: 300px;
  top: -100px;
  width: 359px;
  height: 283px;
  background: url(../image/plane1.png) no-repeat;
  transition: 1s;
  z-index: -1;
}
#main .objects .plane2 {
  position: absolute;
  left: -100px;
  top: 200px;
  width: 309px;
  height: 249px;
  background: url(../image/plane2.png) no-repeat;
  transition: 1s;
  z-index: -1;
}
#main .objects .plane3 {
  width: 230px;
  height: 182px;
  background: url(../image/plane3.png) no-repeat;
  position: absolute;
  left: 300px;
  top: 400px;
  transition: 1s;
  z-index: -1;
}
#main .home .play-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
#main .home .play-list {
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 100%;
  height: 100%;
  transition: 1s;
}
#main .home .play-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#main .home .play-item h3 {
  font-size: 80px;
  letter-spacing: -5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#main .home .play-item.active {
  visibility: visible;
}
#main .home .play-item:nth-child(1) {
  background: #dc6c5f;
}
#main .home .play-item:nth-child(2) {
  background: #95dc84;
}
#main .home .play-item:nth-child(3) {
  background: #64b9d2;
}
#main .home .play-item:nth-child(4) {
  background-color: #000;
}
#main .home .icon-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  transition: 1s;
}
#main .home .icon-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(25, 25, 25, 0.8);
  margin: 4px 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
#main .home .icon-item.active {
  background-color: #fff;
}
#main .home .left-hidden {
  animation: leftMoveHidden 2s;
  visibility: hidden;
}
@keyframes leftMoveHidden {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
  100% {
    transform: translateZ(-200px);
  }
}
#main .home .left-show {
  animation: leftMoveShow 2s;
  visibility: visible;
}
@keyframes leftMoveShow {
  0% {
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
}
#main .home .right-hidden {
  animation: rightMoveHidden 2s;
  visibility: hidden;
}
@keyframes rightMoveHidden {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
  100% {
    transform: translateZ(-200px);
  }
}
#main .home .right-show {
  animation: rightMoveShow 2s;
}
@keyframes rightMoveShow {
  0% {
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
}
