h1,h2,h3,h4,p,span,dt,dd,th,td,body,ul,ol,button,input {margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
a {text-decoration: none;color: #6C6C6C;}
a:hover {color: #f40;}
ul,ol {list-style: none;}
img {display: block;}
/* 去除轮廓线 */
input,button {outline: none;} 
/* 单元格与单元格之间的距离 */
table {border-spacing: 0;border-collapse: collapse;} 
body {background-color: #f1f1f1;}
/* 12px/1.5行高是字体的1.5倍，设置多个字体依次适应 */
body {font: 12px/1.5 tahoma,arial,\5b8b\4f53;color: #6c6c6c;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
/**图标字体**/
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}