@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1587349969977'); /* IE9 */
  src: url('../iconfont/iconfont.eot?t=1587349969977#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1587349969977') format('woff'),
  url('../iconfont/iconfont.ttf?t=1587349969977') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-del:before {
  content: "\e628";
}

.icon-rename:before {
  content: "\e62a";
}

.icon-move:before {
  content: "\e6cf";
}

.icon-refresh:before {
  content: "\e675";
}

.icon-create:before {
  content: "\e6e1";
}

